#banner{
    height: 400px;
    width:auto;
    font-size:3em;
    color: rgba(255, 255, 255, 0.887);
    background-image:url('mythical-dragon-beast-anime-style.jpg');
    background-repeat:no-repeat;
    object-fit: cover;
    background-position:50% 70%;
    margin-top:-104px;
    margin-left:-20px;
}
#bax{
    font-size: 3em;
        color: rgba(255, 255, 255, 0.887);
}
#bba{
    font-size:2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align:center;
    transform:translateZ(400px);
    perspective:100px;
}
.banner {
    width: 100%;
    height: 100vh;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.banner .slider {
    position: absolute;
    width: 200px;
    height: 250px;
    top: 10%;
    left: calc(50% - 100px);
    transform-style: preserve-3d;
    transform: perspective(1000px);
    animation: autoRun 20s linear infinite;
    z-index: 2;
}

@keyframes autoRun {
    from {
        transform: perspective(1000px) rotateX(-16deg) rotateY(0deg);
    }

    to {
        transform: perspective(1000px) rotateX(-16deg) rotateY(360deg);
    }
}

.banner .slider .item {
    position: absolute;
    inset: 0 0 0 0;
    transform:
        rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)) translateZ(550px);
}

.banner .slider .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}