body{
    
}
#vvr{
    margin-left:15%;
    justify-content:center;
    align-items:center;
    background-image:url('cartoon-dragon-character.jpg');
    height:800px;
    width:800px;
    object-fit: cover;
    background-position:53% 50%;
    text-decoration:none;
    color:white;
    font-size:2em;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding:20% 3%;
    border-radius:50px;
    backdrop-filter:blur(100%);
    transition: 2s ease;
}
#vvr a{
    color: white;
        font-size: 2em;
        text-align: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-decoration:none;
        transition:0.5s ease-in;
}
#vvr:hover {
    margin-left: 15%;
    justify-content: center;
    align-items: center;
    background-image: url('cartoon-dragon-character.jpg');
    height: 800px;
    width: 800px;
    object-fit: cover;
    background-position: 53% 53%;
    text-decoration: none;
    color: white;
    font-size: 2em;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 16% 3%;
    border-radius: 50px;
    backdrop-filter: blur(0);
    transition:2s ease;
}
#vvr:hover a {
    color:cyan;
    font-size: 2em;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    transition:1s ease-in-out;
}